<%= render 'shared/error_messages', :object => f.object%>
<div class="form-group">
    <%= f.label :question, class: "form-label" %>
    <%= f.text_field :question, class: "form-control" %>
</div>
<div class="form-group">
    <%= f.label :question_types, class: "form-label" %>
    <%= f.collection_select :question_type_id, QuestionType.all, :id, :question_type, {}, class: "form-control" %>
</div>
