<%= button_to 'Back', 'javascript:history.go(-1);' %>
<h1>Gradesheet</h1>
<%= form_tag '/gradesheets/' + params[:id], :method => :put do %>
  <h3>
    Project: 
    <label id="project">
      <%= @project.name %>
    </label>
    <br/>
    Location:
    <label id="location">
      <%= @project.location %>
    </label>
  </h3>
  </br>
  <table id="questions" class="table table-striped">
    <thead>
      <tbody>
        <% @question_types.each do |question_type| %>
          <h4><%= question_type.question_type %> - <%= question_type.weight %>%</h4>
          <tr>
            <th>Question</th>
            <th>Score</th>
            <th>Comment</th>
          </tr>
          <% question_type.questions.each do |q| %>
            <tr class="question">
              <td>
                <%= q.question %>
              </td>
              <td>
                <%= select q.id, :score, options_for_select(1.upto(5), q.scores.find_by(:judge_id => current_user.id).score) %>
              </td>
              <td>
                <%= text_area_tag :comment.to_s + q.id.to_s %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </thead>
  </table>
  <br/>
  <button id="submit">Submit Scores</button>
<% end %>
