<%= button_to 'Back', 'javascript:history.go(-1);' %>
<h1>Gradesheet</h1>
<%= form_tag '/gradesheets/' + params[:id], :method => :put do %>
  <h3>
    Project: 
    <label id="project">
      <%= "#{@project}" %>
    </label>
    <br/>
    Location:
    <label id="location">
      <%= "#{@location}" %>
    </label>
  </h3>
  <table id="questions" class="table table-striped">
    <thead>
      <tr>
        <th>Question Type</th>
        <th>Question</th>
        <th>Score</th>
        <th>Weight</th>
        <th>Comment</th>
      </tr>
      <tbody>
        <% @questions.each do |q| %>
          <tr>
            <td>
              <%= q.question_type ? q.question_type.question_type :  "No Question Type" %>
            </td>
            <td>
              <%= q.question %>
            </td>
            <td>
              <%= select q.id, :score, options_for_select(1.upto(5)) %>
            </td>
            <td>
              <%= q.question_type.weight %>%
            </td>
            <td>
              <%= text_area_tag :comment.to_s + q.id.to_s %>
            </td>
            
          </tr>
        <% end %>
      </tbody>
    </thead>
  </table>
  <br/>
  <button id="submit">Submit Scores</button>
<% end %>
