<%= button_to 'Back', 'javascript:history.go(-1);' %>
<h1>Judges and Projects mapping</h1>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <h4 class="panel-title">
          Projects per Judge
        </h4>
      </a>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body css-table">
        <% @judges.each do |judge| %>
          <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne<%= judge.id %>">
                <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne<%= judge.id %>" aria-expanded="false" aria-controls="collapseOne<%= judge.id %>">
                  <%= judge.name %> (<%= judge.email %>) - <%= @judges_projects[judge.id].size %> project(s)
                </a>
              </div>
              <div id="collapseOne<%= judge.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne<%= judge.id %>">
                <div class="panel-body">
                  <table class="table table-striped">
                    <% @judges_projects[judge.id].each do |project| %>
                    <tr><td><%= project.name %></td></tr>
                    <% end %>
                  </table>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h4 class="panel-title">
          Judges per Project
        </h4>
      </a>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <% @projects.each do |project| %>
          <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo<%= project.id %>">
                <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo<%= project.id %>" aria-expanded="false" aria-controls="collapseTwo<%= project.id %>">
                  <%= project.name %> - <%= @projects_judges[project.id].size %> judge(s)
                </a>
              </div>
              <div id="collapseTwo<%= project.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo<%= project.id %>">
                <div class="panel-body">
                  <table class="table table-striped">
                    <% @projects_judges[project.id].each do |judge| %>
                    <tr><td><%= judge.name %></td></tr>
                    <% end %>
                  </table>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
