<%= render 'shared/error_messages', :object => f.object%>
<div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name , placeholder: "enter name", class: "form-control" %>
</div>
<div class="form-group">
    <%= f.label :location%>
    <%= f.text_field :location ,placeholder: "enter location", class: "form-control" %>
</div>
<div class="form-group">
    <div class='input-group'>
        <label>
        <%= f.label :date%>
        </label>
        <div class='input-group date' id='datetimepicker'>
            <input id="contest_date" name="contest[date]" type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker').datetimepicker({
            <% if f.object.date %>
                defaultDate: "<%= f.object.date.strftime("%Y-%m-%d %H:%M") %>",
            <% end %>
            format: "MMMM Do, YYYY hh:mm A"
        });
    });
</script>

