<h1>
    Listing Contests
</h1>

<table class="table table-striped">
    <tr class="success">
        <th>Name </th>
        <th>Location </th>
        <th>Date  </th>
        <th>Actions</th>
    </tr>
<% @contests.each do |contest| %>
    <tr>
        <td> <%= link_to contest.name, contest %></td>
        <td> <%= contest.location %></td>
        <td> <%= contest.date.strftime("%B %e, %Y %l:%M %p") %></td>
        <td>
            <%= link_to 'Edit', edit_contest_path(contest)%>
            <% if contest.date < Date.today #only past contests can be deleted %>
            <%= link_to 'Delete', contest, :confirm => 'Are you sure?', :method => :delete %>
            <% else %>
            Delete
            <% end %>
        </td>
    </tr>     
<% end %>
</table>
<br/>
<%= link_to 'New Contest', new_contest_path %>
