<h1>
    <%= @contest.name %>
</h1>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <h4 class="panel-title">
          About
        </h4>
      </a>
    </div>
    <div id="collapseOne" class="panel-collapse collapse <%= params[:expand_about] ? 'in' : '' %>" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <table class="table table-striped">
            <tr>
                <th>Location</th>
                <th>Date</th>
                <th>Actions</th>
                <th></th>
            </tr>
            <tr>
                <td> <%= @contest.location %></td>
                <td> <%= @contest.date.strftime("%B %e, %Y %l:%M %p") %></td>
                <th> <%= link_to 'Edit', edit_contest_path(@contest)%>
                <% if @contest.date < Date.today #only past contests can be deleted %>
                <%= link_to 'Delete', @contest, :method => :delete, data: {confirm: "Are you sure?"} %>
                <% else %>
                Delete
                <% end %>
                </th>
            </tr>     
            </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h4 class="panel-title">
         Project Categories
        </h4>
      </a>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse <%= params[:expand_project_categories] ? 'in' : '' %>" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <h3>Project Categories</h3>
        <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwoNoCategory">
              <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwoNoCategory" aria-expanded="false" aria-controls="collapseTwoNoCategory">
                No Category
                <h6 align="right">Total Projects: <%= @contest.projects.where("category_id IS NULL").count %></h6>
              </a>
            </div>
            <div id="collapseTwoNoCategory" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwoNoCategory">
              <div class="panel-body">
                <table class="table table-striped">
                  <tr>
                      <th>Name</th>
                      <th>Category</th>
                      <th>Location</th>
                      <th>Actions</th>
                  </tr>
                  <% if @contest.projects.where("category_id IS NULL").count == 0 %>
                    <tr><th>No projects in this category</th><th></th><th></th><th></th></tr>
                  <% end %>
                  <% @contest.projects.where("category_id IS NULL").each do |project| %>
                    <tr>
                      <th>
                        <%= project.name %>
                      </th>
                      <th>
                        <%= project.category ? project.category.name :  "No category"%>
                      </th>
                      <th>
                        <%= project.location %>
                      </th>
                      <th>
                        <%= link_to 'Edit', edit_contest_project_path(@contest, project)%>
                        <%= link_to 'Delete', [@contest, project], :method => :delete, data: {confirm: "Are you sure?"} %>
                      </th>
                    </tr>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
          <% @contest.categories.each do |category| %>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo<%= category.id %>">
                <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo<%= category.id %>" aria-expanded="false" aria-controls="collapseTwo<%= category.id %>">
                  <%= category.name %>
                  <h6 align="right">Total Projects: <%= @categories_projects[category.id].size %></h6>
                </a>
              </div>
              <div id="collapseTwo<%= category.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo<%= category.id %>">
                <div class="panel-body">
                  <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Location</th>
                        <th>Actions</th>
                    </tr>
                    <% if @categories_projects[category.id].size == 0 %>
                      <tr><th>No projects in this category</th><th></th><th></th><th></th></tr>
                    <% end %>
                    <% @categories_projects[category.id].each do |project| %>
                      <tr>
                        <th>
                          <%= link_to project.name, contest_project_path(@contest, project)%>
                        </th>
                        <th>
                          <%= project.category ? project.category.name :  "No category"%>
                        </th>
                        <th>
                          <%= project.location %>
                        </th>
                        <th>
                          <%= link_to 'Edit', edit_contest_project_path(@contest, project)%>
                          <%= link_to 'Delete', [@contest, project], :method => :delete, data: {confirm: "Are you sure?"} %>
                        </th>
                      </tr>
                    <% end %>
                  </table>
                  <ul class="breadcrumb">
                    <li role="presentation"><%= link_to 'Edit Category Name', edit_contest_category_path(@contest, category)%></li>
                    <li role="presentation"><%= link_to 'Delete Category', [@contest, category], :method => :delete, data: {confirm: "Are you sure?"} %></li>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <ul class="breadcrumb">
          <li role="presentation"><%= link_to 'New Category', new_contest_category_path(@contest,@category) %></li>
          <li role="presentation"><%= link_to 'New Project', new_contest_project_path(@contest) %></li>
          <li role="presentation"><%= link_to 'View Unassigned Projects', unassigned_projects_path(@contest) %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <a class="panel-toggle" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        <h4 class="panel-title">
          Question Types
        </h4>
      </a>
    </div>
    <div id="collapseFour" class="panel-collapse collapse <%= params[:expand_question_types] ? 'in' : '' %>" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <h3>Question Types</h3>
        <div class="panel-group" id="accordion4" role="tablist" aria-multiselectable="true">
          <% @contest.question_types.each do |question_type| %>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour<%= question_type.id %>">
                <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseFour<%= question_type.id %>" aria-expanded="false" aria-controls="collapseFour<%= question_type.id %>">
                  <%= question_type.question_type %>
                  <h6 align="right">Weight: <%= question_type.weight %></h6>
                </a>
              </div>
              <div id="collapseFour<%= question_type.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour<%= question_type.id %>">
                <div class="panel-body">
                  <table class="table table-striped">
                    <tr>
                      <th>Question</th>
                      <th>Actions</th>
                    </tr>
                    <% question_type.questions.each do |question| %>
                      <tr>
                        <td><%= question.question %></td>
                        <td>
                          <%= link_to 'Edit', edit_contest_question_type_question_path(@contest, question_type, question)%>
                          <%= link_to 'Delete', [@contest, question_type, question], :method => :delete, data: {confirm: "Are you sure?"} %>
                        </td>
                      </tr>
                    <% end %>
                    <tr>
                      <td><%= link_to 'New Question', new_contest_question_type_question_path(@contest, question_type) %></td>
                      <td></td>
                    </tr>
                  </table>
                  <%= link_to 'Edit Question Type', edit_contest_question_type_path(@contest, question_type)%><br/>
                  <%= link_to 'Delete Question Type', [@contest, question_type], :method => :delete, data: {confirm: "Are you sure?"} %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <%= link_to 'New Question Type', new_contest_question_type_path(@contest) %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        <h4 class="panel-title">
          Judges
        </h4>
      </a>
    </div>
    <div id="collapseFive" class="panel-collapse collapse <%= params[:expand_judges] ? 'in' : '' %>" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        <h3>Project Categories</h3>
        <div class="panel-group" id="accordion5" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFiveNoCategory">
              <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapseFiveNoCategory" aria-expanded="false" aria-controls="collapseFiveNoCategory">
                No Category
                <h6 align="right">Total Judges: <%= @contest.users.where('category_id IS NULL').size %></h6>
              </a>
            </div>
            <div id="collapseFiveNoCategory" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFiveNoCategory">
              <div class="panel-body">
                <table class="table table-striped">
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                  </tr>
                  <% @contest.users.where('category_id IS NULL').each do |judge| %>
                    <tr>
                      <td><%= link_to judge.name, judge %></td>
                      <td><%= judge.email %></td>
                      <td>
                        <%= link_to 'Assign Contest/Category', edit_user_path(judge) %>
                        <%= link_to 'Delete', judge, :method => :delete, data: {confirm: "Are you sure?"} %>
                      </td>
                    </tr>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
          <% @contest.categories.each do |category| %>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFive<%= category.id %>">
                <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapseFive<%= category.id %>" aria-expanded="false" aria-controls="collapseFive<%= category.id %>">
                  <%= category.name %>
                  <h6 align="right">Total Judges: <%= category.users.size %></h6>
                </a>
              </div>
              <div id="collapseFive<%= category.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive<%= category.id %>">
                <div class="panel-body">
                  <table class="table table-striped">
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Action</th>
                    </tr>
                    <% category.users.each do |judge| %>
                      <tr>
                        <td><%= link_to judge.name, judge %></td>
                        <td><%= judge.email %></td>
                        <td>
                          <%= link_to 'Assign Contest/Category', edit_user_path(judge) %>
                          <%= link_to 'Delete', judge, :method => :delete, data: {confirm: "Are you sure?"} %>
                        </td>
                      </tr>
                    <% end %>
                  </table>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<ol class="breadcrumb">
  <li role="presentation"><%= link_to 'Upload Projects File', new_contest_attachment_path(@contest) %></li>
  <li role="presentation"><%= link_to 'Add Judges to projects', controller: "users" %></li>
  <li role="presentation"><%= link_to 'Download Scores', controller: "scores" %></li>
  <li role="presentation"><%= link_to 'Judge Project Mapping', action:'show' , controller:'judges' %></li>
</ul>