<%= button_to 'Back', 'javascript:history.go(-1);' %>
<h1>Score Chart</h1>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  
  <!--each category-->
  <% @categories.each do |category| %>
    <% categories_projects = category.projects %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading<%= category.id %>">
        <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= category.id %>" aria-expanded="false" aria-controls="collapse<%= category.id %>">
          <h4 class="panel-title">
            <%= category.name %>
          </h4>
        </a>
      </div>
      <div id="collapse<%= category.id %>" class="panel-collapse collapse <%= params[:expand_about] ? 'in' : '' %>" role="tabpanel" aria-labelledby="heading<%= category.id %>">
        <div class="panel-body">
          <div class="panel-group" id="accordionAllProjects" role="tablist" aria-multiselectable="true">
            <% @projects_scores.each do |project_id, score| %>
              <% next unless project = categories_projects.find_by_id(project_id) %>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading<%= category.id %><%= project_id %>">
                  <a class="panel-toggle" data-toggle="collapse" data-parent="#accordionAllProjects" href="#collapse<%= category.id %><%= project_id %>" aria-expanded="false" aria-controls="collapse<%= category.id %><%= project_id %>">
                    <%= project.name %>
                    <h6 align="right"> Total Score: <%= score.round(2) %></h6>
                  </a>
                </div>
                <div id="collapse<%= category.id %><%= project_id %>" class="panel-collapse collapse <%= params[:expand_about] ? 'in' : '' %>" role="tabpanel" aria-labelledby="heading<%= category.id %><%= project_id %>">
                  <div class="panel-body">
                    <table class="table table-striped">
                      <tr>
                        <th>Judge Name</th>
                        <th>Judge Email</th>
                        <th>Total Score</th>
                        <th>Judge Comment</th>
                        <th></th>
                      </tr>
                      <% project.users.judges.each do |judge| %>
                        <% comment = project.comments.find_by(:user_id => judge.id) %>
                        <tr>
                          <td> <%= judge.name %></td>
                          <td> <%= judge.email %></td>
                          <td> <%= @judges_scores[judge.id][project_id].round(2) %></td>
                          <td> <%= comment ? comment.comment : nil %> </td>
                        </tr>
                      <% end %>
                    </table>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
  <!--all categories-->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingAllProjects">
      <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseAllProjects" aria-expanded="false" aria-controls="collapseAllProjects">
        <h4 class="panel-title">
          All Projects
        </h4>
      </a>
    </div>
    <div id="collapseAllProjects" class="panel-collapse collapse <%= params[:expand_about] ? 'in' : '' %>" role="tabpanel" aria-labelledby="headingAllProjects">
      <div class="panel-body">
        <div class="panel-group" id="accordionAllProjects" role="tablist" aria-multiselectable="true">
          <% @projects_scores.each do |project_id, score| %>
            <% project = @projects.find_by_id(project_id) %>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingAllProjects<%= project_id %>">
                <a class="panel-toggle" data-toggle="collapse" data-parent="#accordionAllProjects" href="#collapseAllProjects<%= project_id %>" aria-expanded="false" aria-controls="collapseAllProjects<%= project_id %>">
                  <%= project.name %>
                  <h6 align="right"> Total Score: <%= score.round(2) %></h6>
                </a>
              </div>
              <div id="collapseAllProjects<%= project_id %>" class="panel-collapse collapse <%= params[:expand_about] ? 'in' : '' %>" role="tabpanel" aria-labelledby="headingAllProjects<%= project_id %>">
                <div class="panel-body">
                  <table class="table table-striped">
                    <tr>
                      <th>Judge Name</th>
                      <th>Judge Email</th>
                      <th>Total Score</th>
                      <th>Judge Comment</th>
                      <th></th>
                    </tr>
                    <% project.users.judges.each do |judge| %>
                      <% comment = project.comments.find_by(:user_id => judge.id) %>
                      <tr>
                        <td> <%= judge.name %></td>
                        <td> <%= judge.email %></td>
                        <td> <%= @judges_scores[judge.id][project_id].round(2) %></td>
                        <td> <%= comment ? comment.comment : nil %> </td>
                      </tr>
                    <% end %>
                  </table>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
  
</div>

<p>
  Download scores as: 
  <%= link_to "CSV", contest_scores_path(@contest, format: "csv") %>
</p>

<%= @projects_scores %>
