<%= button_to 'Back', 'javascript:history.go(-1);' %>
<h1>
    Edit Judge
</h1>
<%= form_for ([@user]) do |f| %>
    <%= render 'shared/error_messages', :object => f.object%>
    </br>
    <%= f.label :contest%>
    <%= f.collection_select :contest_id, @contests, :id, :name, :include_blank => "No Contest" %>
    </br>
    <%= f.label :category%>
    <%= select("user", "category_id", options_for_select(@categories_for_dropdown, @user.category_id)) %>
    </br>
    <%= f.submit 'Update', class: "btn btn-default" %>
<% end %>