<%= button_to 'Back', 'javascript:history.go(-1);' %>
<h3>Judge</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<input id="searchbox" type="text"><button id="searchbutton">Search Location</button>

<p>
<%= form_for @user  do |f| %>
  <% if Project.all.length < 1 %>
   There are currently no projects to assign. 
  <% end %>
  <table class="table table-striped">
    <tr>
      <th style="width:66%">Project Name</th>
      <th style="width:33%">Project Location</th>
    </tr>
  <% for project in Project.all %> 
    <tr class='project <%= project.location.downcase %>'>
      <th>
        <%= check_box_tag "user[project_ids][]", project.id, @user.projects.include?(project) %>  
        <%= project.name %>
      </th>
      <th><%= project.location %></th>
    </tr>
  <% end %>
  </table>
  <% if Project.all.length > 0 %>
    <%= f.submit 'Update' %>
  <% end %>  
</p>
<% end %>



