<%= button_to 'Back', 'javascript:history.go(-1);' %>
<h4>Name: <%= @user.name if @user.name %></h4>
<h4>Email: <%= @user.email if @user.email %></h4>
</br>
<div>
  <label class="form-label">Search By Location: </label>
  <input id="searchbox" type="text">
  <button class="btn btn-default" id="searchbutton">Search</button>
</div>
</br>
<%= form_for @user do |f| %>
  <% if @projects.length < 1 %>
   There are currently no projects to assign. 
  <% end %>
  <table id="projects" class="table table-striped">
    <tr class="header-row">
      <th>Project Name</th>
      <th>Project Location</th>
    </tr>
    <tbody class="data-rows">
      <% for project in @projects %>
          <tr class='project <%= project.location.downcase %>'>
            <td>
              <%= check_box_tag "user[project_ids][]", project.id, @user.projects.include?(project) %>  
              <%= project.name %>
            </td>
            <td><%= project.location %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <% if @projects.length > 0 %>
    <%= f.submit 'Update', class: "btn btn-default" %>
  <% end %>  
<% end %>



