<%= button_to 'Back', 'javascript:history.go(-1);' %>
<h3>Judges</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<p>Location: </p><input id="searchbox" type="text"><button id="searchbutton">Search</button>

<p>
<%= form_for @user  do |f| %>
  <% if @projects.length < 1 %>
   There are currently no projects to assign. 
  <% end %>
  <table class="table table-striped">
    <tr>
      <th>Project Name</th>
      <th>Project Location</th>
    </tr>
  <% for project in @projects %> 
    <tr class='project <%= project.location.downcase %>'>
      <td>
        <%= check_box_tag "user[project_ids][]", project.id, @user.projects.include?(project) %>  
        <%= project.name %>
      </td>
      <td><%= project.location %></td>
    </tr>
  <% end %>
  </table>
  <% if @projects.length > 0 %>
    <%= f.submit 'Update', class: "btn btn-default" %>
  <% end %>  
</p>
<% end %>



