<h3>Judges</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<p>
<%= form_for @user  do |f| %>
  <% if Project.all.length < 1 %>
   There are currently no projects to assign. 
  <% end %>
  <% for project in Project.all %>  
      <div>  
        <%= check_box_tag "user[project_ids][]", project.id, @user.projects.include?(project) %>  
        <%= project.name %>  
      </div>  
  <% end %>
  <% if Project.all.length > 0 %>
    <%= f.submit 'Update' %>
  <% end %>  
</p>
<% end %>



