<%= button_to 'Back', 'javascript:history.go(-1);' %>
<h1>Upload Projects File </h1>
<div>
<%= form_for @attachment, url: {action: "create"}, html: {class: "form-horizontal", role: "form"} do |f| %>
    <div class="form-group"> 
      <%= f.label :attachment, 'Projects File', class: "form-label" %>
      <%= f.file_field :attachment, class: "form-control", :required => true %>
    </div>
    <div class="form-group"> 
       <%= f.submit "Submit", id: "submit" %>
   </div>
<% end %>
</div>