<%= button_to 'Back', 'javascript:history.go(-1);' %>
<h1>Project Details</h1>
<table class="table table-striped">
    <tr>
        <th>Project Name &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</th>
        <th>Location &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</th>
    <tr>
        <td> <%= @project.name %>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</td>
        <td> <%= @project.location %>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</td>
    </tr>     
</table>
<br>
<%= form_for @project, :url => project_assign_judges_path(@project) do |f| %>
  <% if @users.length < 1 %>
   There are currently no judges to assign. 
  <% end %>
  <table class="table table-striped">
    <tr>
      <th>Judge Name</th>
      <th>Judge Email</th>
    </tr>
  <% for user in @users %> 
    <tr>
      <td>
        <%= check_box_tag "project[user_ids][]", user.id, @project.users.include?(user) %>  
        <%= user.name %>
      </td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
  </table>
  <% if @users.length > 0 %>
    <%= f.submit 'Update', class: "btn btn-default" %>
  <% end %>  
<% end %>
