<%= render 'shared/error_messages', :object => f.object%>
<div class="form-group"> 
    <%= f.label :question_type, class: "form-label" %>
    <%= f.text_field :question_type, class: "form-control" %>
</div>
<div class="form-group"> 
    <%= f.label :contest_id, class: "form-label" %>
    <%= f.text_field :contest_id, class: "form-control" %>
</div>   
