<h1>
    Listing Question Types
</h1>

<table class="table table-striped">
    <tr>
        <th>Question Type &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</th>
        <th>Contest Id &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</th>
        <th>Actions &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</th>
    </tr>
<% @contest.question_types.each do |q| %>
    <tr>
        <td> <%= q.question_type %></td>
        <td> <%= @contest.name %></td>
        <td> <%= link_to 'Show', contest_question_type_path(@contest, q) %>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
             <%= link_to 'Edit', edit_contest_question_type_path(@contest, q)%>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
         <%= link_to 'Destroy', contest_question_type_path(@contest, q), :confirm => 'Are you sure?', :method => :delete %>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; </td>
    </tr>     
<% end %>
</table>
<br/>
<%= link_to 'New Question Type', new_contest_question_type_path %>

