<h1>
    <%= @question_type.question_type %>
</h1>

<table class="table table-striped">
    <tr>
        <th>Question Type</th>
        <th>Contest Id</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td> <%= @question_type.question_type %></td>
        <td> <%= @contest.name %></td>
        <td> <%= link_to 'Edit', edit_contest_question_type_path(@contest, @question_type)%>
             <%= link_to 'Destroy', contest_question_type_path(@contest, @question_type), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
    <tr>
        <th>Question</th>
        <th>Score</th>
        <th>Actions</th>
    </tr>
    
        <% @question_type.questions.each do |q| %>
    <tr>
        <td> <%= q.question %></td>
        <td> <%= q.question_type.weight %>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</td>
        <td> <%= link_to 'Show',contest_question_type_questions_path(q, @question_type) %>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
         <%= link_to 'Edit', edit_contest_question_type_question_path(@question_type.contest_id, @question_type, q.id)%>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
         <%= link_to 'Destroy', contest_question_type_question_path(@question_type.contest_id, @question_type, q.id), :confirm => 'Are you sure?', :method => :delete %>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</td>
    </tr>     
<% end %>
</table>

<br/>
<li role="presentation"><%= link_to 'Add Questions Types', contest_question_types_path %></li>
<li role="presentation"><%= link_to 'Add Questions', contest_question_type_questions_path(@contest, @question_type) %></li>
