<h1>
    <%= @question_type.question_type %>
</h1>

<table class="table table-striped">
    <tr>
        <th>Question Type</th>
        <th>Contest Id</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td> <%= @question_type.question_type %></td>
        <td> <%= @contest.name %></td>
        <td> <%= link_to 'Edit', edit_contest_question_type_path(@contest, @question_type)%>
             <%= link_to 'Destroy', contest_question_type_path(@contest, @question_type), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>     
</table>

<br/>
<%= link_to 'Add Questions Types', contest_question_types_path %>