<%= button_to 'Back', 'javascript:history.go(-1);' %>
<h1>
    Add New Category
</h1>
<div class="row">
<%= form_for([@contest, @category], html: {class: "col-xs-3"}) do |f| %>
    <%= render 'shared/error_messages', :object => f.object%>
    <div class="form-group"> 
        <%= f.label :name, class: "form-label" %>
        <%= f.text_field :name, class: "form-control" %>
    </div>
    <%= f.submit "Create", class: "btn btn-default" %> 
<% end %>
</div>
